In [1]:
import awswrangler as wr
import pandas as pd

In [2]:
import boto3
boto3.setup_default_session(profile_name="quannguyen")

In [3]:
s3_path = "s3://upskills-landing-zone/static_table/factor_master_definition/factor_master_definition.csv"

In [4]:
df = wr.s3.read_csv(s3_path)

In [12]:
df['FACTOR'] = df['FACTOR'].str.lower()

In [13]:
df.head(5)

   FACTORID      FACTOR
0         1    priceusd
1         2     priceff
2         3     priceec
3         4    priceloc
4         5  priceclose

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FACTORID  19 non-null     int64
 1   FACTOR    19 non-null     object
dtypes: int64(1), object(1)
memory usage: 436.0+ bytes

In [6]:
output_path = "s3://upskills-clean-zone/factor_master_definition/"
db_name="db_silver"
table_name="t1_factor_master_definition"

In [9]:
result = wr.s3.to_parquet(
    df=df, 
    path=output_path, 
    dataset=True,
    database=db_name,
    table=table_name,
    mode="overwrite"
)